
@model IEnumerable<DataLayer.Models.DetalleCuentaPorPagar>
@{

    //    var cxp = (DataLayer.Models.CuentasPorPagar)ViewData["CxP"];



}
<div class="container-fluid">
    <br />

    <div class="box box-warning">
        <div class="box-header with-border">
            <h3 class="box-title">Editar Cuentas Por Pagar</h3>
        </div>
        <input value="@ViewData["idmov"]" id="idmov" name="idmov" hidden="hidden"/>
        <!-- /.box-header -->
        <!-- form start -->
        <div class="box-body">

            @if (ViewData["Restante"].ToString() == "0.00")
            {<h5>Historial de pago total cxp</h5>}
            else
            {

                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                    Hacer Pago
                </button>
            }

            @Html.ActionLink("Regresar", "Index", null, htmlAttributes: new { @class = "btn btn-default" })



            <section class="content">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="box">
                            <div class="box-header">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h3 class="box-title">Listado de Cuotas</h3>

                                    </div>
                                </div>
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body">
                                <div id="example2_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                                    <div class="row"><div class="col-sm-6"></div><div class="col-sm-6"></div></div><div class="row">
                                        <div class="col-sm-12">
                                            <table id="tbCxPP" class="table table-bordered table-striped table-responsive table-hover">
                                                <thead>
                                                    <tr>
                                                        <td>@Html.DisplayNameFor(model => model.Id)</td>
                                                        <th>
                                                            @Html.DisplayNameFor(model => model.Monto)
                                                        </th>
                                                        <th>
                                                            @Html.DisplayNameFor(model => model.FechaPago)
                                                        </th>



                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var item in Model)
                                                    {
                                                        <tr>
                                                            <td>@item.Id</td>
                                                            <td>
                                                                @{
                                                                    var monto = item.Monto;
                                                                }
                                                                @String.Format("{0:C}", monto)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.FechaPago)
                                                            </td>
                                                            <td>
                                                                <a href="#" class="btn btn-default btn-block">Imprimir</a>
                                                            </td>



                                                        </tr>
                                                    }
                                                </tbody>
                                                <tfoot>

                                                    <tr>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                    </tr>

                                                </tfoot>
                                            </table>

                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Realizar Pago</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="row">
                    <div class="col-md-12">
                        <h4>Informacion Acerca de la Cuenta</h4>
                    </div>

                </div>
            </div>
            <div class="modal-body">
                <div class="row">

                    <div class="col-xs-12">
                        <label class="control-label">Suplidor</label>
                        <div class="form-group">
                            <input class="form-control" readonly value="@ViewData["Suplidor"]" />
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <label class="control-label">Factura</label>
                        <div class="form-group">
                            <input class="form-control" readonly value="@ViewData["NoFactura"]" />
                        </div>
                    </div>

                    <div class="col-xs-12">
                        <label class="control-label">Monto Restante</label>
                        <div class="form-group">
                            <input id="montoDeuda" class="form-control" type="text" readonly value="@ViewData["Restante"]" />
                        </div>

                    </div>



                    <div class="col-xs-12">
                        <label class="control-label">Monto Abono</label>
                        <div class="form-group">
                            <input class="form-control" type="number" id="montoAbono" name="MontoAbono" />
                        </div>

                    </div>
                    <div class="col-xs-12">
                        <label>Pagar Total?</label>
                        <div class="form-group">
                            <input class="checkbox" type="checkbox" id="pagoCompleto" />
                            <input id="idCta" type="hidden" value="@ViewData["IdCta"]" />
                        </div>
                    </div>
                </div>
            </div>


            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                <button id="btnAbono" type="button" class="btn btn-success">Procesar</button>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        $('#tbCxPP').DataTable();
    </script>
    <script src="~/Scripts/Proyecto/CxP.js"></script>

}
