@model IEnumerable<DataLayer.Models.DgiiNcf>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Serie)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoComprobante)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SecuencialInicial)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SecuenciaDgii)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaVencimiento)
        </th>
  
        <th>
            @Html.DisplayNameFor(model => model.FechaModificacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaCreacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Borrado)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Serie)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoComprobante)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SecuencialInicial)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SecuenciaDgii)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaVencimiento)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.FechaModificacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaCreacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Borrado)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
