@model IEnumerable<DataLayer.Models.Gn_Perfil>

<section class="content">
    <div class="row">
        <div class="col-md-12">

            <div class="box box-pane-right">

                <div class="box-body">


                    <div class="col-md-offset-8 col-md-4">

                        <div class="col-lg-12 col-xs-12">
                            <!-- small box -->
                            <a href="@Url.Action("Create","Gn_Perfil")">
                                <div class="small-box bg-light-blue">

                                    <div class="inner">
                                        <h3>@Model.Count()</h3>

                                        <p>Perfiles Registrados</p>
                                    </div>
                                    <div class="icon">
                                        <i class="ion ion-person-add"> </i>
                                    </div>

                                </div>
                            </a>
                        </div>

                    </div>
                </div>

            </div>
        </div>

    </div>


    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box box-pane-right">

                    <div class="box-header with-border"> <h3 class="box-title">Listado de los Perfiles</h3> </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div id="example2_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                            <div class="row">

                                <div class="col-sm-6"></div><div class="col-sm-6"></div>
                            </div><div class="row">
                                <div class="  col-xs-12 col-md-12 col-sm-12">
                                    <table id="tbPerfil" class="display table table-bordered table-striped table-hover table-responsive">
                                        <thead>
                                            <tr>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.IDPerfil)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.Perfil)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.Descripcion)
                                                </th>


                                                <th scope="col">#</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            @foreach (var item in Model)
                                            {


                                                <tr>


                                                    <td scope="row">
                                                        @Html.DisplayFor(modelItem => item.IDPerfil)
                                                    </td>
                                                    <td scope="row" class="hidden-xs hidden-sm">
                                                        @Html.DisplayFor(modelItem => item.Perfil)
                                                    </td>
                                                    <td scope="row">
                                                        @Html.DisplayFor(modelItem => item.Descripcion)
                                                    </td>



                                                    <td scope="row">
                                                        <div class="btn-group">


                                                            <a href="@Url.Action("Edit","Gn_Perfil")/@item.IDPerfil" id="@item.IDPerfil" class="btn btn-primary"><i class="fa fa-edit"></i> Editar</a>
                                                            <a href="@Url.Action("Delete","Gn_Perfil")/@item.IDPerfil" id="@item.IDPerfil" class="btn btn-danger"><i class="fa fa-trash"></i> Eliminar</a>
                                                            <a href="@Url.Action("Details","Gn_Perfil")/@item.IDPerfil" id="@item.IDPerfil" class="btn btn-success"><i class="fa fa-plus"></i> Crear permisos por pefil</a>

                                                        </div>
                                                    </td>
                                                </tr>


                                            }
                                        </tbody>
                                        <tfoot>
                                            <tr>

                                                <th>  </th>
                                                <th>  </th>
                                                <th>  </th>
                                                <th>  </th>
                                                

                                            </tr>
                                        </tfoot>
                                    </table>


                                </div>

                            </div>
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                    <!-- /.box -->
                </div>
                <!-- /.col -->
            </div>
        </div>
    </div>

</section>




}

