@model DataLayer.Models.SC_IPSYS001

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>SC_IPSYS001</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SC_USUAR001.NOMBRE_USUARIO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SC_USUAR001.NOMBRE_USUARIO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ID_USUARIO_ADICION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID_USUARIO_ADICION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IP_ADICCION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IP_ADICCION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FECHA_ADICION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FECHA_ADICION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ID_USUARIO_MODIFICACION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID_USUARIO_MODIFICACION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IP_MODIFICACION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IP_MODIFICACION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FECHA_MODIFICACION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FECHA_MODIFICACION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LONGITUD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LONGITUD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LATITUD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LATITUD)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
