@model DataLayer.Models.SC_IPSYS001

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>SC_IPSYS001</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SC_USUAR001.NOMBRE_USUARIO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SC_USUAR001.NOMBRE_USUARIO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ID_USUARIO_ADICION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID_USUARIO_ADICION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IP_ADICCION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IP_ADICCION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FECHA_ADICION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FECHA_ADICION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ID_USUARIO_MODIFICACION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID_USUARIO_MODIFICACION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IP_MODIFICACION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IP_MODIFICACION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FECHA_MODIFICACION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FECHA_MODIFICACION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LONGITUD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LONGITUD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LATITUD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LATITUD)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CODIGO_IPSYS }) |
    @Html.ActionLink("Back to List", "Index")
</p>
