@model DataLayer.Models.Caja.BovedaCaja

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/_ViewStart.cshtml";
}

<h2>Details</h2>

<div>
    <h4>BovedaCaja</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.idMoneda)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idMoneda)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaCreacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaCreacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UsuarioIDCrea)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UsuarioIDCrea)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaActualizacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaActualizacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UsuarioIDActualiza)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UsuarioIDActualiza)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.idEmpresa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idEmpresa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdSucursal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdSucursal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.idUsuarioResposable)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idUsuarioResposable)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.idUsuarioModifica)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idUsuarioModifica)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
