@model IEnumerable<DataLayer.Models.Caja.BovedaCaja>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_ViewStart.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.idMoneda)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaCreacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UsuarioIDCrea)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaActualizacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UsuarioIDActualiza)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.idEmpresa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdSucursal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.idUsuarioResposable)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.idUsuarioModifica)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.idMoneda)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaCreacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UsuarioIDCrea)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaActualizacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UsuarioIDActualiza)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.idEmpresa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdSucursal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.idUsuarioResposable)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.idUsuarioModifica)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
