@model DataLayer.Models.Tipo_Identificacion

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Tipo_Identificacion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Cod_Empresa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cod_Empresa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cod_Usuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cod_Usuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cod_Usuario_Modificacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cod_Usuario_Modificacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha_adicion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha_adicion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha_modificacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha_modificacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Cod_Tipo_Identificacion }) |
    @Html.ActionLink("Back to List", "Index")
</p>
