@model IEnumerable<DataLayer.Models.Tipo_Identificacion>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Cod_Empresa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cod_Usuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cod_Usuario_Modificacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha_adicion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha_modificacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estado)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Cod_Empresa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cod_Usuario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cod_Usuario_Modificacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha_adicion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha_modificacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estado)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Cod_Tipo_Identificacion }) |
            @Html.ActionLink("Details", "Details", new { id=item.Cod_Tipo_Identificacion }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Cod_Tipo_Identificacion })
        </td>
    </tr>
}

</table>
