@model IEnumerable<DataLayer.Models.Caja.MovimientoBanco>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_ViewStart.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.empresa.NOMBRE_EMP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sucursal.NOMBRE_SUC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.usuruario.NOMBRE_USUARIO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdBanco)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha_movimiento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Detalle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.idTipoMovimientoBanco)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdMoneda)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.empresa.NOMBRE_EMP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sucursal.NOMBRE_SUC)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.usuruario.NOMBRE_USUARIO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdBanco)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha_movimiento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Detalle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.idTipoMovimientoBanco)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdMoneda)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
