@model DataLayer.ViewModels.ProductoInfoViewModel

@{
    ViewBag.Title = "Delete";
}

<div class="container-fluid">
    <br />

    <div class="box box-danger">
        <div class="box-header with-border">
            <h3 class="box-title">Eliminar Productos</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="box-body ">
                <h2 class="text-danger"> Esta seguro que desea eliminar este registro?</h2>
                <dl class="dl-horizontal">
                    @Html.HiddenFor(model => model.Id)
                    <dt>
                        @Html.DisplayNameFor(model => model.NombreCompleto)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.NombreCompleto)
                    </dd>
                    <dd>
                        @Html.DisplayFor(model => model.FechaCreacion)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.FechaEdicion)
                    </dt>
                    <dt>
                        @Html.DisplayNameFor(model => model.Codigo)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Codigo)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Envase)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Envase)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Descripcion)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Descripcion)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.EsLote)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.EsLote)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.CantidadLote)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.CantidadLote)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Stock)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Stock)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.CantidadMinima)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.CantidadMinima)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.FechaCreacion)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.FechaEdicion)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Activo)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Activo)
                    </dd>

                </dl>


            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                @Html.ActionLink("Regresar", "Index", null, htmlAttributes: new { @class = "btn btn-default" })
                <input type="submit" value="Eliminar" class="btn btn-danger" />
            </div>
        }
        <!-- /.box-footer -->

    </div>

    <div>

    </div>
</div>


