@model IEnumerable<DataLayer.Models.SC_IMP001>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SC_EMP001.NOMBRE_EMP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PORCENTAJE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VALOR_FIJO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DESCRIPCION)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BORRAR)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IP_ADICCION)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IP_MODIFICACION)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.USUARIO_ADICCION)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FECHA_ADICION)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.USUARIO_MODIFICACION)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FECHA_MODIFICACION)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LONGITUD)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LATITUD)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SC_EMP001.NOMBRE_EMP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PORCENTAJE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VALOR_FIJO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DESCRIPCION)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BORRAR)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IP_ADICCION)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IP_MODIFICACION)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.USUARIO_ADICCION)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FECHA_ADICION)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.USUARIO_MODIFICACION)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FECHA_MODIFICACION)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LONGITUD)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LATITUD)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CODIGO_IMP }) |
            @Html.ActionLink("Details", "Details", new { id=item.CODIGO_IMP }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CODIGO_IMP })
        </td>
    </tr>
}

</table>
