@model DataLayer.Models.SC_PROV001

@{
    ViewBag.Title = "Edit";
}
<div class="container-fluid">
    <br />
    <div class="box box-success">
        <div class="box-header with-border">
            <h3 class="box-title">Crear Provincia</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <div class="container-fluid">
            <br />

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(model => model.CODIGO_PROV)
                @Html.HiddenFor(model => model.CODIGO_PROV)
                @Html.HiddenFor(model => model.FECHA_ADICION)
                @Html.HiddenFor(model => model.ID_USUARIO_ADICCION)
                @Html.HiddenFor(model => model.IP_ADICCION)

                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#Provincia" data-toggle="tab">Datos de la Provincia</a></li>

                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="Provincia">

                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.CODIGO_REG, "Region", htmlAttributes: new { @class = "control-label col-md-2" })

                                        @Html.DropDownList("CODIGO_REG", null, htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.CODIGO_PROV, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-4">

                                    @Html.LabelFor(model => model.NOMBRE_PROV, htmlAttributes: new { @class = "control-label col-md-2" })

                                    @Html.EditorFor(model => model.NOMBRE_PROV, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.NOMBRE_PROV, "", new { @class = "text-danger" })
                                </div>


                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="box-footer">
                                @Html.ActionLink("Regresar", "Index", null, htmlAttributes: new { @class = "btn btn-default" })
                                <button type="submit" class="btn btn-success pull-right">Guardar</button>
                            </div>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
