@model IEnumerable<DataLayer.Models.Pedido>

@{
    ViewBag.Title = "Index";
}


<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <div class="row">
                        <div class="col-md-12">
                            <h3 class="box-title">Listado de Pedidos</h3>
                            <p style="float:right">
                                @Html.ActionLink(" Nueva", "Create", null, htmlAttributes: new { @class = "btn btn-primary glyphicon glyphicon-plus" })
                            </p>
                        </div>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div id="example2_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                        <div class="row"><div class="col-sm-6"></div><div class="col-sm-6"></div></div><div class="row">
                            <div class="col-sm-12">
                                <table id="tbPedidos" class="table table-bordered table-striped table-responsive table-hover">
                                    <thead>
                                        <tr>
                                            <th>
                                                @Html.DisplayName("Fecha")
                                            </th>
                                            <th>
                                                @Html.DisplayName("Cogido")
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Suplidor.Nombre)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Estado)
                                            </th>
                                            <th></th>
                                        </tr>

                                    </thead>
                                    <tbody>

                                        @foreach (var item in Model)
                                        {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.FechaCreacion)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Id)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Suplidor.Nombre)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Estado)
                                            </td>
                                            <td>
                                                @Html.ActionLink(" Editar", "Edit", new { id = item.Id }, htmlAttributes: new { @class = "btn btn-default btn-sm glyphicon glyphicon-pencil" })

                                                @Html.ActionLink(" Detalle", "Details", new { id = item.Id }, htmlAttributes: new { @class = "btn btn-info btn-sm glyphicon glyphicon-eye-open" })
                                                @Html.ActionLink(" Eliminar", "Delete", new { id = item.Id }, htmlAttributes: new { @class = "btn btn-danger btn-sm glyphicon glyphicon-trash" })

                                            </td>
                                        </tr>

                                        }
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th>
                                            </th>
                                            <th>
                                            </th>
                                            <th>
                                            </th>
                                            <th>
                                            </th>
                                            <th></th>
                                        </tr>
                                    </tfoot>
                                </table>


                            </div>

                        </div>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
                <!-- /.box -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
 
        </div>
        </section>


