@model IEnumerable<DataLayer.Models.MenuApp.gn_menu>

@{
    ViewBag.Title = "Index";
}

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <div class="row">
                        <div class="col-md-12">
                            <h3 class="box-title">Listado de Menu</h3>
                            <p style="float:right">
                                @Html.ActionLink(" Nuevo", "Create", null, htmlAttributes: new { @class = "btn btn-primary glyphicon glyphicon-plus" })
                            </p>
                        </div>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div id="example2_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                        <div class="row"><div class="col-sm-6"></div><div class="col-sm-6"></div></div><div class="row">
                            <div class="col-sm-12">
                                <table id="tbMenu" class="table table-bordered table-striped table-responsive table-hover">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Menu)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Nivel)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Orden)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.URL)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.MenuIcon)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.IDEmpresa)
                                            </th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                        <tr>
                                            <td>
                                                @Html.ActionLink("Edit", "Edit", new { id = item.IDMenu } , htmlAttributes: new { @class = "btn btn-small" }) |
                                                @Html.ActionLink("Details", "Details", new { id = item.IDMenu }) |
                                                @Html.ActionLink("Delete", "Delete", new { id = item.IDMenu })
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Menu)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Nivel)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Orden)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.URL)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.MenuIcon)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.IDEmpresa)
                                            </td>

                                        </tr>
                                        }
                                    </tbody>

                                    <tfoot>
                                
                                        <tr>
                                            <th>
                                                </th>
                                            <th>
                                               </th>
                                            <th>
                                                </th>
                                            <th>
                                                </th>
                                            <th>
                                                </th>
                                            <th>
                                                </th>
                                            <th></th>
                                        </tr>
                                 

                                    </tfoot>
                                </table>


                            </div>

                        </div>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
                <!-- /.box -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
</section>




